ZOHO_DC=com
ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_REDIRECT_URI=http://localhost:3000/oauth/callback
ZOHO_MAIL_ACCOUNT_ID=
ZOHO_SHEET_RESOURCE_ID=your_sheet_resource_id
ZOHO_WORKSHEET_NAME=Sheet1
MAIL_SEARCH_KEY=sender:service@paypal.com
MAIL_LOOKBACK_DAYS=1
PAYPAL_SENDER=service@paypal.com
PROCESSED_LABEL=paypal-parsed
POLL_INTERVAL_SECONDS=300
TOKEN_PATH=token.json
